#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
}

.photograph-medias {
  display: flex;
  flex-wrap: wrap;
}

.photograph-medias article img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    top: 50px;
    left: 380px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input, textarea {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

textarea {
  height: 170px;
}

.img-flex {
  display: flex;
  justify-content: space-between;
}

article {
  padding-left: 100px;
}

img, video {
  cursor: pointer;
}

.price-window {
    height: 52px;
    width: 280px;
    position: fixed;
    bottom: 0;
    right: 20px;
    background-color: #D3573C;
    border-radius: 4px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carousel {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  background-color: white;
  border: solid black 1px;
  align-items: center;
  padding-top: 20px;
  transform: translate(-50%, -50%);
  max-width: 80vw;
  max-height: 80vh;
}

.carousel-media {
  min-height: 0;
  object-fit: cover;
}

.carousel-media-container {
  display: flex;
  flex-direction: column;
  min-width: 0;
  align-self: stretch;
}

.carousel-arrow, .carousel-close {
  font-size: 28px;
  color: #901C1C;
  margin: 20px;
  cursor: pointer;
}

.carousel-caption {
  color: #901C1C;
  font-size: 16px;
}

.carousel-close {
  position: absolute;
  top: 0px;
  right: 0px;
}