@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 50px;
    text-align: center;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.name {
    color: #D3573C;
    font-size: 42px;
    margin: 10px 0;
}

.photographer_section article img, #profil-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 7px 25px -3px #000000;
    transition: 0.2s all;
}

#profil-image {
  margin-right: 50px;
}

.photographer_section article img:hover {
 opacity: 0.8;
}

.photographer_section p {

  margin: 0;

}

.photographer_section a {
  text-decoration: none;
}

.price {
  color: #525252;
  font-size: 14px;
}

.location, .media-title {
  color: #901C1C;
  font-size: 20px;
}
